@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Montserrat:wght@300;500;600;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;1,6..96,500&family=EB+Garamond:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
  padding: 0;
  margin: 0;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

/* CSS variables */
:root {
  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(0, 0, 0, 1);
  --color-gradient: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );
  --color-glassmorphism: rgba(255, 255, 255, 0.1);
  --glass-text-color: rgba(255, 255, 255, 0.15);
  --glass-text-bright: rgba(255, 255, 255, 0.25);
  --glass-text-brighter: rgba(255, 255, 255, 0.4);
  --gradient-right: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  --gradient-left: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-secondary)
  );

  --font-n: 300;
  --font-m: 600;
  --font-b: 900;

  --black-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --white-box-shadow: 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.2);

  --padding-btn: 1rem 6rem;
  --border-radius-btn: 3rem;
  --br-cards: 0.4rem;

  --logo-reveal: 4s;

  --bubble-burst: 2s;
  --text-reveal: 1.7s;

  --ballon-speed: 2s;

  --circleAnimation: 60s;
}

/* Logo styling */
.header__navigation--logo {
  height: 6rem;
  width: 10rem;
  background-image: linear-gradient(
    to left,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
  position: relative;
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 50%, 0 20%);
  cursor: pointer;
}

.header__navigation--logo::before {
  content: 'Bi.T';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'montserrat';
  font-size: 3.5rem;
  font-weight: var(--font-b);
  letter-spacing: 0.2rem;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* General Styling */

.btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: var(--padding-btn);
  border-radius: var(--border-radius-btn);
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

/* .active--tab {
  border-bottom: 3px solid red;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-common {
  position: relative;
  overflow: hidden;
}

.btn-common::before {
  content: '';
  position: absolute;
  height: 1%;
  width: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-secondary);
  border-radius: var(--btn-border-radius);
  background-color: var(--color-primary);
  box-shadow: 1rem 1rem 2rem var(--color-primary),
    -1rem -1rem 2rem var(--color-primary);

  transition: height 100ms ease-in-out, width 200ms ease-in-out 100ms,
    background-color 300ms ease-in-out 200ms;
}

.btn-common:hover::before {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

/* Header Styling */
.header {
  height: 100vh;
  width: 100%;
  font-family: 'bodoni' sans-serif;
  background-color: var(--color-secondary);
  overflow: hidden;
  position: relative;
}

/* Navigation Styling */
.header__navigation {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--color-secondary);
  z-index: 1000;
}

.header__navigation--list {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms ease-in-out;
}

.header__navigation--item {
  display: inline-block;
}

.header__navigation--item:not(:last-child) {
  margin-right: 3.5rem;
}

.header__navigation--link {
  font-family: 'bodoni' sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem;
  position: relative;
}

.header__navigation--link::after {
  content: '';
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}

.header__navigation--link:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  text-align: center;
  gap: 1rem;
  position: relative;
  isolation: isolate;
}

.header__heading--description {
  height: 20rem;
  width: 40rem;
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0%,
    var(--color-primary) 50%,
    var(--color-secondary) 50%
  );
  position: relative;
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 50%, 0 20%);
  margin-bottom: 2rem;
  overflow: hidden;
  opacity: 0;

  animation: landing-logo 4s linear forwards;
}

@keyframes landing-logo {
  to {
    opacity: 1;
  }
}

.header__heading--description span {
  display: inline-block;
  padding: 0;
  font-size: 13.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.header__heading--description span:nth-child(1),
.header__heading--description span:nth-child(2) {
  color: var(--color-secondary);
}

.header__heading--description span:nth-child(3) {
  color: var(--color-primary);
}

.header__btn {
  background-color: transparent;
  position: relative;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: all 400ms ease-in-out;

  animation: header-btn 3s linear;
}

@keyframes header-btn {
  0% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.header__btn:hover {
  color: white;
  background-color: var(--color-secondary);
  transform: translateY(-0.1rem);
}

.header__btn::after {
  content: '';
  position: absolute;
  height: 1%;
  width: 1%;
  border-radius: var(--border-radius-btn);
  background-color: var(--color-secondary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--color-primary),
    -0.2rem -0.2rem 0.5rem var(--color-primary);
  transition: width 400ms ease-in-out 200ms, height 200ms ease-in-out;
}

.header__btn:hover::after {
  height: 100%;
  width: 100%;
}

.header__description--circle {
  position: relative;
  letter-spacing: 0.2rem;
}

/* .header__description--circle .text-intro span{
  border-bottom: 2px solid var(--glass-text-brighter);
} */

.header__description--circle .text-intro {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 3rem;
  transform: scaleX(0);

  animation: textReveal var(--bubble-burst) forwards var(--text-reveal);
}

@keyframes textReveal {
  100% {
    transform: scaleX(1);
  }
}

.header__description--circle::before,
.header__description--circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: inset 0.5rem 0.5rem 1rem var(--color-secondary),
    inset -0.5rem -0.5rem 1rem var(--color-secondary);
}

.header__description--circle::before {
  height: 6rem;
  width: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bubble-burst var(--bubble-burst) forwards var(--text-reveal);
  opacity: 0;
  box-shadow: 0.5rem 0.5rem 1rem var(--color-primary),
    -0.5rem -0.5rem 1rem var(--color-primary);
}

@keyframes bubble-burst {
  1% {
    opacity: 1;
  }
  100% {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: transparent;
    opacity: 0;
  }
}

/* details styling */
.details {
  height: 100vh;
  width: 100%;
  padding: 20rem;
  /* background-image: radial-gradient(#010101, #000); */
  background-color: #848282;
  color: var(--color-secondary);
  font-family: 'montserrat';
  display: flex;
  gap: 6rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.details::before,
.details::after {
  content: '';
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 100%/130% 130% 60% 60%;
  background-color: var(--glass-text-color);
  transform: rotate(45deg);

  animation: bubbling-size 3s alternate infinite;
}

@keyframes bubbling-size {
  to {
    border-radius: 50%;
    background-color: var(--glass-text-brighter);
    transform: translateX(2rem) scale(0.7);
    opacity: 0;
  }
}

.details::before {
  top: 50%;
  left: 70%;
}

.details::after {
  bottom: 20%;
  left: 25%;
}

.details__intro p {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-weight: 100;
}

.details__section p {
  letter-spacing: 1rem;
  font-size: 4rem;
  font-weight: 300;
}

/* services styling */
.service {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  font-family: sans-serif;
  background-color: var(--color-secondary);
  pointer-events: none;
  position: relative;
}

.service::before,
.service::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}

.service::before {
  border-bottom: 1px solid var(--glass-text-brighter);
  border-left: 1px solid var(--glass-text-brighter);
}

.service::after {
  height: 90%;
  width: 90%;
  border-top: 1px solid var(--glass-text-brighter);
  border-right: 1px solid var(--glass-text-brighter);
}

.service__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.service__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  isolation: isolate;
  color: transparent;
  background-image: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  padding: 0 3rem;
}

.service__description {
  height: 100%;
  width: 100%;
  position: relative;
}

.service__description--sub {
  pointer-events: auto;
  cursor: pointer;
  height: 40%;
  width: 25%;
  display: grid;
  place-content: center;
  text-align: center;
  border: none;
  outline: none;
  position: absolute;
  isolation: isolate;
  backface-visibility: none;
  transition: all 300ms ease-in-out;
}

.service__description--sub h3 {
  text-transform: uppercase;
  font-family: 'montserrat';
  font-weight: 100;
  letter-spacing: 0.3rem;
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
}

.service__description--sub h3::before {
  content: '';
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--color-glassmorphism);
  transform: scaleX(0);
  transition: all 300ms ease-in-out 200ms;
  transform-origin: left;
}

.service__description--sub p {
  font-size: 1.5rem;
  font-family: 'montserrat';
  font-weight: 100;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.service__description--sub .checked {
  height: 5rem;
  width: 5rem;
  display: block;
  background-color: var(--color-primary);
  border-radius: 100%;
  position: relative;
  margin: 1rem auto;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.service__description--sub .checked::before,
.service__description--sub .checked::after {
  content: '';
  position: absolute;
  width: 3px;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.service__description--sub .checked::before {
  height: 2.5rem;
  top: 40%;
  left: 60%;
  transform: rotate(45deg);
}

.service__description--sub .checked::after {
  height: 1rem;
  bottom: 15%;
  left: 37%;
  transform: rotate(-45deg);
}

.service__description--sub:nth-child(1) {
  top: 4rem;
  left: 20%;
}
.service__description--sub:nth-child(2) {
  top: 4rem;
  right: 20%;
}
.service__description--sub:nth-child(3) {
  bottom: 4rem;
  left: 20%;
}
.service__description--sub:nth-child(4) {
  bottom: 4rem;
  right: 20%;
}

.service:hover .service__description--sub {
  opacity: 0.2;
  transform: scale(0.8);
}

.service .service__description--sub:hover {
  opacity: 1;
  transform: scale(1.2);
}

.service .service__description--sub:hover h3::before {
  transform: scale(1);
}

.service__description--sub:hover .checked {
  opacity: 1;
}

.service__description--sub:hover .checked::before {
  opacity: 1;
}

.service__description--sub:hover .checked::after {
  opacity: 1;
}

.service__container .service__heading {
  text-align: center;
}

/* layout styling */
.layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--color-secondary);
  perspective-origin: 50%;
  perspective: 100rem;
}

.layout__container {
  display: flex;
  padding: 2rem;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.layout__container::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 1px;
  background-color: var(--glass-text-bright);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout__container .layout__circle {
  transform-style: preserve-3d;
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
  background-image: var(--gradient-left);
  position: relative;
  box-shadow: 1rem 1rem 2rem var(--color-secondary);

  animation: cicle-3d 10s alternate infinite;
}

.layout__container .layout__circle::before,
.layout__container .layout__circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  box-shadow: 1rem 1rem 2rem var(--color-secondary);

  animation: cicle-3d 10s alternate infinite;
}

@keyframes cicle-3d {
  to {
    background-image: radial-gradient(#101010, #202020);
    transform: scale(0.8);
    box-shadow: inset 1rem 1rem 2rem var(--color-primary);
  }
}

.layout__container .layout__circle::before {
  height: 30rem;
  width: 30rem;
  background-image: var(--gradient-right);
  transform: translateZ(3rem);
}

.layout__container .layout__circle::after {
  height: 20rem;
  width: 20rem;
  background-image: var(--gradient-right);
  transform: translateZ(3rem);
}

.layout__description {
  color: var(--color-primary);
}

.layout__description .layout__description--text {
  font-size: 10rem;
  font-family: sans-serif;
  width: max-content;
  background-color: var(--color-secondary);
}

.layout__description .layout__description--text:nth-child(2) {
  font-family: serif;
  position: relative;
}

.layout__description .layout__description--text:nth-child(2)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 150%;
  background-color: var(--glass-text-brighter);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* design styling */
.designshow {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.designshow::after {
  content: '';
  position: absolute;
  height: 20rem;
  width: 20rem;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to left,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
}

.designshow__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
}

.designshow__one {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.designshow__one:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.designshow__one--tag {
  font-family: 'sofia', sans-serif;
  font-size: 45rem;
  margin: 0 auto;
  color: var(--color-primary);
  background-color: transparent;
}

.designshow__one-description {
  font-family: 'montserrat', sans-serif;
  font-size: 3.7rem;
  color: var(--color-secondary);
  background-color: transparent;
  text-align: center;
  padding-left: 8rem;
  font-style: italic;
  font-weight: 100;
}

.designshow__one-description span {
  border-bottom: 1px solid var(--color-secondary);
  font-style: normal;
  font-weight: 600;
}

/* display styling */ /* black and white display */

.display {
  height: 100vh;
  width: 100%;
  padding: 4rem;
  text-align: center;
}

.display__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.display__container::after {
  content: '&';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'bodoni';
  transform: translate(-50%, -50%);
  font-size: 50rem;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.display__white {
  width: 100%;
  height: 100%;
}

.display__white--heading,
.display__white--heading-sub {
  font-size: 6rem;
  letter-spacing: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.display__white--heading-sub {
  transform: rotateY(180deg);
}

.display__description {
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'bodoni';
  transform: translateY(-150%);
  letter-spacing: 1.4rem;
}

.display__black {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* starter styling */
.starter {
  height: 100vh;
  width: 100%;
  color: white;
}

.starter__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 0;
  gap: 1px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.starter__heading,
.starter__showcase {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.starter__heading h3 {
  font-size: 8rem;
  padding: 1rem;
  font-family: 'sofia', sans-serif;
  letter-spacing: 1.3rem;
}

.starter__showcase .animate {
  font-family: 'style script', cursive;
  font-size: 2.5rem;
  padding: 2rem 2rem 2rem 4rem;
  line-height: 2;
  letter-spacing: 0.7rem;
  position: relative;
  color: black;
  transform: scaleX(0);
}

.animate-1 span {
  border-bottom: 2px solid var(--color-secondary);
}

.animate-2 span {
  border-bottom: 2px solid var(--color-primary);
}

.starter__showcase span {
  font-size: 5rem;
  font-weight: var(--font-b);
}

.starter__showcase .animate-1 {
  transition: all 500ms ease-in-out 500ms;
  background-color: var(--color-primary);
  transform-origin: left;
}

.starter__showcase .animate-2 {
  color: var(--color-primary);
  transform-origin: right;
  background-color: var(--color-secondary);
  transition: all 500ms ease-in-out;
}

.starter__showcase {
  position: relative;
  background-image: linear-gradient(
    to top,
    var(--color-primary) 0%,
    var(--color-primary) 50%,
    var(--color-secondary) 50%
  );
}

.starter__container:hover .starter__showcase .animate-1 {
  transform: scaleX(1);
}

.starter__container:hover .starter__showcase .animate-2 {
  transform: scaleX(1);
}

/* cta styling */

.cta {
  height: 100vh;
  font-family: 'montserrat', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  transition: all 800ms ease-in-out;
  overflow: hidden;
}

.cta__heading {
  font-size: 6rem;
  font-weight: 500;
  margin: 8rem 0;
  transition: all 600ms ease-in-out;
  color: var(--color-primary);
}

.cta__heading--sub {
  font-size: 4rem;
  font-weight: 100;
  margin: 8rem 0;
  transition: all 600ms ease-in-out;
  color: var(--color-primary);
}

.cta__btn--link {
  color: var(--color-primary);
  display: inline-block;
  pointer-events: auto;
  text-align: center;
  height: 15rem;
  line-height: 15rem;
  width: 15rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  color: var(--color-primary);
  transition: all 600ms ease-in-out;
  border: 1px solid var(--glass-text-bright);
}

.cta__btn--link::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  border-radius: 50%;
  background-color: var(--color-secondary);
  z-index: -1;
  transition: all 300ms ease-in-out;
  transform: scale(30);
}

.cta__btn--link:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.cta__btn--link:hover::after {
  transform: scale(1);
}

.cta:hover .cta__container .cta__heading {
  color: var(--color-secondary);
}

.cta:hover .cta__container .cta__heading--sub {
  color: var(--color-secondary);
}

/* Contact Styling */
.contact {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--color-secondary);
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

.contact:target {
  opacity: 1;
  visibility: visible;
}

.contact:target .contact__container {
  opacity: 1;
  transform: scale(1);
}

.contact::before,
.contact::after {
  content: '';
  position: absolute;
  z-index: -2;
}

.contact::before {
  height: 14rem;
  width: 10rem;
  border-radius: 1.2rem;
  top: 5rem;
  left: 18%;
  background-image: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary)
  );
  backface-visibility: hidden;

  animation: baloon-1 var(--ballon-speed) alternate infinite;
}

@keyframes baloon-1 {
  to {
    transform: translateY(-4rem);
  }
}

.contact::after {
  height: 20rem;
  width: 14rem;
  bottom: 4rem;
  right: 15%;
  border-radius: 1.2rem;
  background-image: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary)
  );
  backface-visibility: hidden;

  animation: baloon-2 var(--ballon-speed) ease-in-out alternate infinite;
}
@keyframes baloon-2 {
  to {
    transform: translateX(-4rem);
  }
}

.contact__container {
  width: 60%;
  height: 90%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  backdrop-filter: blur(0.1rem);
  border: 2px solid transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.5s ease-in-out 0.3s;
}

.contact__heading {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  color: var(--glass-text-brighter);
  border-bottom: 1px solid var(--glass-text-brighter);
}

.contact__form {
  width: 70%;
  height: 100%;
}

.contact__form label,
.contact__form input,
.contact__form textarea {
  display: block;
  width: 90%;
  margin: 0.5rem auto;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  color: var(--color-primary);
  border-radius: 2px;
}

.contact__form label {
  transition: all 200ms ease-in-out;
}

:placeholder-shown + label {
  transform: translateY(-4.1rem);
  opacity: 0;
}

.contact__form input {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--glass-text-brighter);
  height: 4rem;
}

.contact__form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--clr-accent);
  border: 1px solid var(--glass-text-brighter);
  min-height: 8rem;
  max-width: 100%;
}

.contact__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 2rem;
}

.contact__submit--btn {
  display: inline-block;
}

/* cta styling */

.cta {
  font-family: 'montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  transition: all 800ms ease-in-out;
  overflow: hidden;
}

/* footer section styling */

.footer {
  height: 50vh;
  width: 100%;
  margin-top: 1px;
  position: relative;
  isolation: isolate;
}

.footer__container {
  height: 100%;
  width: 100%;
  padding: 4rem;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
}

.footer__starter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright p {
  color: var(--glass-text-brighter);
  font-size: 1.5rem;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
}

.footer__socials--list {
  display: inline-block;
}

.footer__socials--list:not(:last-child) {
  margin-right: 8rem;
}

.fa-brands {
  position: relative;
  color: var(--color-secondary);
  transition: all 400ms ease-in-out;
}

.fa-brands::after {
  content: '';
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--glass-text-brighter);
  z-index: -3;
  transition: all 400ms ease-in-out;
}

.fa-brands:hover {
  color: var(--glass-text-brighter);
}

.fa-brands:hover::after {
  background-color: var(--color-secondary);
}

/* toggle nav styling */
.toggle-btn {
  display: none;
  visibility: hidden;
}

.toggle-nav {
  position: fixed;
  top: -2rem;
  right: 4rem;
  display: none;
  z-index: 2000;
  place-content: center;
  text-align: center;
  margin-top: 4rem;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.toggle-nav span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-secondary);
  position: relative;
}

.toggle-nav span::before,
.toggle-nav span::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--color-secondary);
  left: 0;
  pointer-events: inherit;
  transition: all 200ms ease-in;
}

.toggle-nav span::before {
  top: -4px;
}

.toggle-nav span::after {
  bottom: -4px;
}

.toggle-nav:hover span::before {
  top: -6px;
}

.toggle-nav:hover span::after {
  bottom: -6px;
}

.toggle-btn:checked ~ .header__navigation--list {
  transform: translate(-50%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn:checked ~ .toggle-nav span {
  background-color: transparent;
}

.toggle-btn:checked ~ .toggle-nav span::before {
  top: 0;
  transform: rotate(135deg);
}

.toggle-btn:checked ~ .toggle-nav span::after {
  bottom: 0;
  transform: rotate(-135deg);
}

/* Media queries */
@media (max-width: 600px) {
  html {
    font-size: 40.25%;
  }

  .header__navigation--reveal {
    height: 200%;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--color-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
  }

  .toggle-nav {
    display: grid;
  }
  .details {
    padding: 2rem;
    display: grid;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .details::before {
    top: 35%;
    left: 75%;
  }

  .details::after {
    bottom: 25%;
    left: 28%;
  }
  .service__heading {
    font-size: 2rem;
    padding: 0 2rem;
  }

  .service__description--sub h3 {
    margin-bottom: 1rem;
    padding: 0;
  }

  .service__description--sub h3::before {
    display: none;
  }

  .service__description--sub p {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  .service__description--sub .checked {
    display: none;
  }

  .layout__container::before {
    display: none;
  }

  .layout__container .layout__circle {
    height: 20rem;
    width: 20rem;
  }

  .layout__container .layout__circle::before {
    height: 15rem;
    width: 15rem;
  }

  .layout__container .layout__circle::after {
    height: 10rem;
    width: 10rem;
  }

  .layout__description .layout__description--text {
    font-size: 6rem;
  }

  .designshow::after {
    height: 10rem;
    width: 10rem;
  }

  .designshow__one--tag {
    font-size: 30rem;
  }

  .designshow__one-description {
    font-size: 2.5rem;
    padding-left: 6rem;
  }

  .designshow__one-description span {
    border-bottom: 1px solid var(--color-secondary);
    font-style: normal;
    font-weight: 600;
  }

  .display {
    padding: 2rem;
    min-height: 100vh;
  }

  .display__container {
    flex-direction: column;
  }

  .display__container::after {
    font-size: 30rem;
    background-image: linear-gradient(
      to bottom,
      var(--color-secondary) 0%,
      var(--color-secondary) 50%,
      var(--color-primary) 50%
    );
  }

  .display__white--heading,
  .display__white--heading-sub {
    font-size: 5rem;
  }

  .display__black .display__white--heading {
    margin-top: 9rem;
  }

  .display__description {
    display: none;
  }

  .cta__heading {
    font-size: 4rem;
  }

  .cta__heading--sub {
    font-size: 3rem;
    margin: 6rem 0;
  }
}
